<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico"/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css"/>

</head>
<style>
    @font-face {
        font-family: 'NanumSquareNeo-Variable';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    p {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
    }

    h2 {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
    }

    a {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
    }

    #menu {
        width: 100%;
        height: 85px;
    }

    #menu ul li {
        background-color: lightslategray;
        list-style: none;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
    }

    #menu li {
        display: inline-block;
        height: 85px;
    }

    #menu ul {
        float: left;
        text-align: center;
    }
</style>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<diveader class="header-area">
    <!-- Navbar Area -->
    <div id="sticky-wrapper1" class="sticky-wrapper" style="height: 85px;">
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="/index" class="nav-brand" style="margin-top: 30px"><img src="img/core-img/xcurenetlogo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <!-- Login/Register & Cart Button -->
                                <th:block th:if="${session.userInfo != null}">
                                    <div class="login-register-cart-button d-flex align-items-center"
                                         style="margin-top: 40px;">
                                        <div class="login-register-btn">
                                            <a href="/myPage" style="transform: translateY(7%);"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                마이페이지</p></a>
                                            <a href="/logout" style="transform: translateY(7%); margin-right: 4px"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                로그아웃</p></a>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:if="${session.userInfo == null}">
                                    <div class="login-register-cart-button d-flex align-items-center"
                                         style="margin-top: 40px;">
                                        <div class="login-register-btn" style="margin-right: 10px;">
                                            <a href="/loginPage"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                로그인</p></a>
                                        </div>
                                        <div class="login-register-btn">
                                            <a href="/registerPage"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                회원가입</p></a>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 61px;">
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav"
                         style="background-color: black; line-height: 90px; text-align: center; margin: 0 auto;">
                        <!-- Nav brand -->
                        <ul id="menu">
                            <li style="margin-right: 30px;"><a href="/popular"><p
                                    style="color: white; font-size: 20px;">인기글</p></a></li>
                            <li style="margin-right: 30px;"><a href="/newest"><p style="color: white; font-size: 20px;">
                                최신글</p></a></li>
                            <li onmouseover="showCategories();" onmouseout="hideCategories();"
                                style="margin-right: 30px;">
                                <p style="color: white; font-size: 20px;">카테고리</p>
                                <ul id="categoriesDropdown" style="display: none;">
                                    <li><a href="/category1"><p style="color: white; font-size: 20px">Category 1</p></a>
                                    </li>
                                    <li><a href="/category2"><p style="color: white; font-size: 20px">Category 2</p></a>
                                    </li>
                                    <li><a href="/category3"><p style="color: white; font-size: 20px">Category 3</p></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Buy Now Area Start ##### -->
    <div style="background-color: #f5f9fa;">
        <div style="width: 1110px; justify-content: center;  margin: 0px auto;">
            <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom: -90px;">
                        <div class="col-12" style="height: 200px;">
                            <div class="section-heading style-2">
                                <h2>게시글 목록
                                </h2>
                                <a href="/writeBoardPage"><p
                                        style="text-align: right; margin-top: 20px; font-size: 20px; font-weight: bold">
                                    게시글
                                    작성</p></a>
                            </div>
                        </div>
                    </div>

                    <!--                    <table class="table" style="width: 70%; margin: 0 auto;">-->
                    <!--                        <thead>-->
                    <!--                        <tr>-->
                    <!--                            <th scope="col">#</th>-->
                    <!--                            <th scope="col">제목</th>-->
                    <!--                            <th scope="col">작성자</th>-->
                    <!--                            <th scope="col">작성 시간</th>-->
                    <!--                            <th scope="col">조회수</th>-->
                    <!--                        </tr>-->
                    <!--                        </thead>-->
                    <!--                        <tbody>-->
                    <!--                        <-->
                    <!--                        <c:forEach var="vo" items="${freeList}">-->
                    <!--                            <tr>-->
                    <!--                                <th scope="row">${vo.freeboard_no}</th>-->
                    <!--                                <td><a href="boardDetail?bid=${vo.freeboard_no}'/>">${vo.freeboard_title}</a></td>-->
                    <!--                                <td>${vo.freeboard_writer}</td>-->
                    <!--                                <td>${vo.freeboard_regDate}</td>-->
                    <!--                                <td>${vo.freeboard_hit}</td>-->
                    <!--                            </tr>-->
                    <!--                        </c:forEach>-->
                    <!--                        </tbody>-->
                    <!--                    </table>-->


                    <div class="row">
                        <table style="text-align: center; margin-left: auto; margin-right: auto;">
                            <thead style="border: 1px solid black;">
                            <tr>
                                <th style="width: 200px; height: 100px; font-size: 20px;">글번호</th>
                                <th style="width: 200px; height: 100px; font-size: 20px;">작성자</th>
                                <th style="width: 200px; font-size: 20px;">제목</th>
                                <th style="width: 200px; font-size: 20px;">작성일</th>
                                <th style="width: 200px; font-size: 20px;">조회수</th>
                            </tr>
                            </thead>
                            <tbody style="border: 1px solid black;">
                            <tr th:each="board : ${freeList}" style="border: 1px solid black;">
                                <td style="width: 150px; font-size: 20px;" th:text="${board.getBId()}"></td>
                                <td style="width: 150px; font-size: 20px;" th:text="${board.getWriter()}"></td>
                                <a href="/boardDetail">
                                    <td style="width: 150px; font-size: 20px;" th:text="${board.getTitle()}"></td>
                                </a>
                                <td style="width: 150px; font-size: 20px;" th:text="${board.getWriteDate()}">
                                <td style="width: 150px; font-size: 20px;" th:text="${board.getViewCnt()}">
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                    <br>
                    <!--                    <form action="/freeList">-->
                    <!--                        <div class="search-wrap clearfix">-->
                    <!--                            <button type="submit" class="btn btn-primary search-btn" style="margin-right: 24%;">검색</button>-->
                    <!--                            <input type="text" name="keyword" class="form-control search-input" value="${pc.paging.keyword}"-->
                    <!--                                   style="width: 200px; ">-->
                    <!--                            <select class="form-control" id="search-select" name="condition" style="width: 80px; margin-left: 54%">-->
                    <!--                                <option value="title" ${pc.paging.condition = 'title' ? 'selected' : ''}>제목</option>-->
                    <!--                                <option value="content" ${pc.paging.condition = 'content' ? 'selected' : ''}>내용</option>-->
                    <!--                                <option value="writer" ${pc.paging.condition = 'writer' ? 'selected' : ''}>작성자</option>-->
                    <!--                            </select>-->
                    <!--                        </div>-->
                    <!--                    </form>-->

                    <!-- 페이징 -->

                    <div class="paging">
                        <form action="/freeList" name="pageForm">
                            <div class="text-center clearfix" style="position: relative;">
                                <ul class="pagination" id="pagination" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                                    <span th:if="${pc.prev}">
                                        <li class="page-item"><a style="height: 50px;" class="page-link" href="/freeList" th:href="'#' + 'data-pageNum=' + ${pc.beginPage - 1}"><p th:text="${pc.beginPage - 1}"></p></a></li>
                                    </span>
                                    <th:block th:each="num : ${#numbers.sequence(pc.beginPage, pc.endPage)}">
                                        <li th:classappend="${pc.paging.pageNum == num} ? 'page-item active' : 'page-item'">
                                            <a style="height: 50px;" class="page-link" href="/freeList" th:href="'#' + 'data-pageNum=' + ${num}"><p th:text="${num}"></p></a>
                                        </li>
                                    </th:block>
                                    <span th:if="${pc.next}">
                                        <li class="page-item"><a style="height: 50px;" class="page-link" href="/freeList" th:href="'#' + 'data-pageNum=' + ${pc.endPage + 1}"><p th:text="${pc.endPage + 1}"></p></a></li>
                                    </span>
                                </ul>

                                <!-- 페이지 관련 버튼을 클릭 시 같이 숨겨서 보낼 값 -->
                                <input type="hidden" name="pageNum" value="${pc.paging.pageNum}">
                                <input type="hidden" name="countPerPage" value="${pc.paging.countPerPage}">
                                <input type="hidden" name="keyword" value="${pc.paging.keyword}">
                                <input type="hidden" name="condition" value="${pc.paging.condition}">

                            </div>
                        </form>
                    </div>
<!--                    &lt;!&ndash; Pagination &ndash;&gt;-->
<!--                    <div class="oneMusic-pagination-area wow fadeInUp" data-wow-delay="300ms">-->
<!--                        <ul class="pagination" style="text-align: center">-->
<!--                            <li style="display: inline-block" class="page-item active"><a class="page-link"-->
<!--                                                                                          href="#">01</a></li>-->
<!--                            <li style="display: inline-block" class="page-item"><a class="page-link" href="#">02</a>-->
<!--                            </li>-->
<!--                            <li style="display: inline-block" class="page-item"><a class="page-link" href="#">03</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->

                </div>
            </section>
        </div>
    </div>
    <!-- ##### Buy Now Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text"><a href="#">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script>
        function showCategories() {
            var dropdown = document.getElementById("categoriesDropdown");
            dropdown.style.display = "block";
            dropdown.style.backgroundColor = 'black';
            dropdown.style.fontSize = '10px';
            dropdown.style.width = '30px';
            dropdown.style.lineHeight = '30px';
        }

        function hideCategories() {
            var dropdown = document.getElementById("categoriesDropdown");
            dropdown.style.display = "none";
        }
    </script>

</diveader>
</body>

</html>