<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>index</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico"/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css"/>

</head>
<style>
    @font-face {
        font-family: 'NanumSquareNeo-Variable';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    p {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
    }

    h2 {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
    }

    a {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
    }

    #menu {
        width: 100%;
        height: 85px;
    }

    #menu ul li {
        background-color: lightslategray;
        list-style: none;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
    }

    #menu li {
        display: inline-block;
        height: 85px;
    }

    #menu ul {
        float: left;
        text-align: center;
    }
</style>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<diveader class="header-area">
    <!-- Navbar Area -->
    <div id="sticky-wrapper1" class="sticky-wrapper" style="height: 85px;">
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="/index" class="nav-brand" style="margin-top: 30px"><img
                                src="img/core-img/xcurenetlogo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <!-- Login/Register & Cart Button -->
                                <th:block th:if="${session.userInfo != null}">
                                    <div class="login-register-cart-button d-flex align-items-center"
                                         style="margin-top: 40px;">
                                        <div class="login-register-btn">
                                            <a href="/myPage" style="transform: translateY(7%);"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                마이페이지</p></a>
                                            <a href="/logout" style="transform: translateY(7%); margin-right: 4px"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                로그아웃</p></a>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:if="${session.userInfo == null}">
                                    <div class="login-register-cart-button d-flex align-items-center"
                                         style="margin-top: 40px;">
                                        <div class="login-register-btn" style="margin-right: 10px;">
                                            <a href="/loginPage"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                로그인</p></a>
                                        </div>
                                        <div class="login-register-btn">
                                            <a href="/registerPage"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                회원가입</p></a>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 61px;">
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav"
                         style="background-color: black; line-height: 90px; text-align: center; margin: 0 auto;">
                        <!-- Nav brand -->
                        <ul id="menu">
                            <li style="margin-right: 30px;"><a href="/popular"><p
                                    style="color: white; font-size: 20px;">인기글</p></a></li>
                            <li style="margin-right: 30px;"><a href="/newest"><p style="color: white; font-size: 20px;">
                                최신글</p></a></li>
                            </li>
                        </ul>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Buy Now Area Start ##### -->
    <div style="background-color: #f5f9fa;">
        <div style="width: 1110px; justify-content: center;  margin: 0px auto;">
            <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom: -90px;">
                        <div class="col-12" style="height: 200px;">
                            <div class="section-heading style-2">
                                <h2>게시글 목록
                                </h2>
                                <a href="/insertBoardPage" id="insertBoardPage">
                                    <p style="text-align: right; margin-top: 20px; font-size: 20px; font-weight: bold">
                                        게시글작성</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <table style="text-align: center; margin-left: auto; margin-right: auto;">
                            <thead style="border: 1px solid black;">
                            <tr style="background-color: black; color: white;">
                                <th style="width: 200px; height: 70px; font-size: 18px;">글번호</th>
                                <th style="width: 200px; font-size: 18px;">작성자</th>
                                <th style="width: 200px; font-size: 18px;">제목</th>
                                <th style="width: 200px; font-size: 18px;">작성일</th>
                                <th style="width: 200px; font-size: 18px;">조회수</th>
                            </tr>
                            </thead>
                            <tbody style="border: 1px solid black;">
                            <tr th:each="board : ${boardList}" style="border: 1px solid black;">
                                <td style="width: 150px; font-size: 20px;" th:text="${board.getBId()}"></td>
                                <td style="width: 150px; font-size: 20px;" th:text="${board.getWriter()}"></td>
                                <td style="width: 150px; font-size: 20px;">
                                    <a th:href="@{'/boardDetail?bId='+${board.getBId()}}"
                                       th:text="${board.getTitle()}"></a>
                                </td>
                                <td style="width: 150px; font-size: 20px;" th:text="${board.getWriteDate()}"></td>
                                <td style="width: 150px; font-size: 20px;" th:text="${viewCnt}"></td>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                    <br>

                    <!-- 페이징 -->
                    <div class="paging">
                        <form action="/board" name="pageForm">
                            <div id="pagination" style="text-align: center">
                                <!-- 맨 처음 페이지로 이동하는 버튼 -->
                                <span th:if="${pageVO.startPage > 1}">
                                    <a th:href="@{'/board?page=1'}" th:text="'처음&emsp;'"></a>
                                </span>
                                <!-- 이전 블록으로 이동하는 버튼 -->
                                <span th:if="${pageVO.isPrev() == true}">
                                    <a th:href="@{'/board?page='+${pageVO.startPage - 1}}" th:text="'이전'"></a>
                                </span>
                                <!-- 시퀀스 보여주는 값을 변경. -->
                                <span th:each="pageNum : ${#numbers.sequence(pageVO.startPage, pageVO.endPage)}">
                                    <a class="div2" th:href="@{'/board?page='+${pageNum}}"
                                       th:text="|&emsp;${pageNum}&emsp;|"></a>
                                </span>
                                <!-- 다음 블록으로 이동하는 버튼 -->
                                <span th:if="${pageVO.isNext() == true}">
                                    <a th:href="@{'/board?page='+${pageVO.endPage + 1}}" th:text="'다음'"></a>
                                </span>
                                <!-- 맨 뒷 페이지로 이동하는 버튼 -->
                                <span th:if="${pageVO.endPage < pageVO.totalPageCount}">
                                    <a th:href="@{'/board?page='+${pageVO.totalPageCount}}" th:text="|&emsp;끝|"></a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- ##### Buy Now Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text"><a href="#">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </a>
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        const insertBoardPage = document.getElementById('insertBoardPage');

        var userInfo = /*[[${session.userInfo}]]*/ null;

        function writeBoardPage() {
            console.log(userInfo);
            if (userInfo == null) {
                console.log("User Info: ", userInfo);
                alert("로그인 후 이용할 수 있는 서비스입니다.");
                return false;
            } else {
                return true;
            }
        }

        insertBoardPage.addEventListener("click", function (event) {
            if (!writeBoardPage()) {
                event.preventDefault();
                console.log("Log x");
                location.href = "loginPage"
            }
        });
        /*]]>*/
    </script>
</diveader>
</body>

</html>