<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>
<style>
    @font-face {
        font-family: 'NanumSquareNeo-Variable';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    p {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
    }

    h2 {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
    }

    a {
        font-family: 'NanumSquareNeo-Variable', sans-serif;
    }
</style>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 85px;">
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="/index" class="nav-brand"><img src="img/core-img/xcurenetlogo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <!-- Login/Register & Cart Button -->
                                <th:block th:if="${userInfo != null}">
                                    <div class="login-register-cart-button d-flex align-items-center" style="margin-top: 40px;">
                                        <div class="login-register-btn" style="margin-top: 50px;">
                                            <a href="/myPage" style="transform: translateY(7%);"><p
                                                    style="color : black; align-content: center; font-size: 12px; font-weight : bold; margin-top: 10px;">
                                                마이페이지</p></a>
                                            <a href="/logout" style="transform: translateY(7%); margin-right: 4px"><p
                                                    style="color : black; align-content: center; font-size: 12px; font-weight : bold; margin-top: 10px;">
                                                로그아웃</p></a>
                                            <!--                                            <a href="/myPage"><p-->
                                            <!--                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;"-->
                                            <!--                                                    th:text="${userInfo.userName + ' 님'}"></p></a>-->
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:if="${userInfo == null}">
                                    <div class="login-register-cart-button d-flex align-items-center" style="margin-top: 40px;">
                                        <div class="login-register-btn" style="margin-right: 10px;">
                                            <a href="/loginPage"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                로그인</p></a>
                                        </div>
                                        <div class="login-register-btn">
                                            <a href="/registerPage"><p
                                                    style="color : black; align-content: center; font-size: 20px; font-weight : bold; margin-top: 10px;">
                                                회원가입</p></a>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p></p>
        <h2>로그인</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <!-- Login Form -->
                    <div class="login-form">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label for="userId">아이디</label>
                                <input type="text" class="form-control" name="userId" id="userId"
                                       aria-describedby="emailHelp" placeholder="Enter ID">
                            </div>
                            <div class="form-group">
                                <label for="userPw">비밀번호</label>
                                <input type="password" class="form-control" name="userPw" id="userPw"
                                       placeholder="Password">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">로그인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<!--&lt;!&ndash; ##### Footer Area Start ##### &ndash;&gt;-->
<!--<footer class="footer-area">-->
<!--    <div class="container">-->
<!--        <div class="row d-flex flex-wrap align-items-center">-->
<!--            <div class="col-12 col-md-6">-->
<!--                <a href="#"><img src="img/core-img/logo.png" alt=""></a>-->
<!--                <p class="copywrite-text"><a href="#">-->
<!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>-->
<!--                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by-->
<!--                    <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->
<!--            </div>-->

<!--            <div class="col-12 col-md-6">-->
<!--                <div class="footer-nav">-->
<!--                    <ul>-->
<!--                        <li><a href="#">Home</a></li>-->
<!--                        <li><a href="#">Albums</a></li>-->
<!--                        <li><a href="#">Events</a></li>-->
<!--                        <li><a href="#">News</a></li>-->
<!--                        <li><a href="#">Contact</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--&lt;!&ndash; ##### Footer Area Start ##### &ndash;&gt;-->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
</body>

</html>