<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<style>
    body {
        display: block;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

</style>
<body>

<div style="background-color: beige;">
    <h1 style="font-weight: bold; text-align: center;">회원 목록 페이지</h1>
</div>

<table>
    <thead style="text-align: center;">
    <tr style="font-weight: bold; font-size: 15px; text-align: center;">
        <th style="width: 20px;"></th>
        <th style="width: 200px;">ID</th>
        <th style="width: 200px;">NAME</th>
        <th style="width: 200px;">ADDRESS</th>
        <th style="width: 200px;">PHONE</th>
    </tr>
    </thead>
    <tbody style="text-align: center;">
    <tr style="font-size: 15px; text-align: center;" , th:each="user, stat: ${userlist}">
        <th th:text="${stat.count}" style="width: 20px;"></th>
        <th th:text="${user.userId}" style="width: 200px;"></th>
        <th th:text="${user.userName}" style="width: 200px;"></th>
        <th th:text="${user.address}" style="width: 200px;"></th>
        <th th:text="${user.phoneNum}" style="width: 200px;"></th>
    </tr>
    </tbody>
</table>

<div style="width: 100px; height: 50px;">
    <form id="loginForm" method="post" th:action="@{/submit-url}" th:method="${formMethod}">
        ID: <input type="text" name="userId"><br>
        PW: <input type="password" name="userPw"><br>
        <input type="submit" name="login" value="로그인" onclick="setFormAction()">
        <input type="submit" name="register" value="회원가입" onclick="setFormAction()">
    </form>
</div>

</body>
<script>
    function setFormAction(event, method) {
        event.preventDefault(); // Prevent the default form submission

        var form = document.getElementById("loginForm");
        var submitButton = event.target;

        if (submitButton.name === "login") {
            form.action = "/api/login"; // Set the action value for the first submit button
            form.setAttribute("post", method);
        } else if (submitButton.name === "register") {
            form.action = "/api/register"; // Set the action value for the second submit button
            form.setAttribute("get", method);
        }
        form.submit(); // Submit the form
    }
</script>
</html>