<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.boardproject.api.board.mapper.BoardMapper">

    <insert id="writeBoard" parameterType="com.project.boardproject.api.board.model.BoardDTO">
        INSERT INTO
            board
            (uid, title, content, writer, write_date)
        VALUES
            (#{uId}, #{title}, #{content}, #{writer}, NOW())
    </insert>

    <select id="boardList" resultType="com.project.boardproject.api.board.model.BoardDTO">
        SELECT
            title as title,
            writer as writer,
            write_date as writeDate,
            view_cnt as viewCnt
        FROM
            (
            SELECT
                bid, title, content, writer, writeDate, viewCnt
            FROM
                board
            WHERE
                @ROWNUM <= #{pageNum} * #{amount}
            )
       WHERE
             ROWNUM > (#{pageNum}-1) * #{amount}
        AND
           bid = bid

    </select>

    <select id="boardDeteil" parameterType="int" resultType="com.project.boardproject.api.board.model.BoardDTO">
        SELECT
            bid, title, content, writer, view_cnt, write_date
        FROM
            board b INNER JOIN user u ON b.uid = u.uid
        WHERE
            b.bid = 4;
    </select>


</mapper>