<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.boardproject.api.user.mapper.UserMapper">

    <insert id="register" parameterType="com.project.boardproject.api.user.model.UserDTO">
            INSERT INTO
                USER
                    (user_id, user_pw, user_name, nick_name, address, phone_num)
                VALUES
                    (#{userId}, #{userPw}, #{userName}, #{nickName}, #{address}, #{phoneNum})
    </insert>

    <select id="getUsers" resultType="com.project.boardproject.api.user.model.UserDTO">
        SELECT * FROM USER
    </select>

    <select id="login" parameterType="String" resultType="com.project.boardproject.api.user.model.UserDTO">
        SELECT * FROM USER WHERE user_id = #{userId} AND user_pw = #{userPw}
    </select>

    <select id="checkId" parameterType="String" resultType="com.project.boardproject.api.user.model.UserDTO">
        SELECT user_id FROM USER WHERE user_id = #{userId}

    </select>

    <!--    <resultMap id="userlist" type="UserDTO">-->
    <!--        <result property="userNum" column="user_num"/>-->
    <!--        <result property="userId" column="user_id"/>-->
    <!--        <result property="userPw" column="user_pw"/>-->
    <!--        <result property="userName" column="user_name"/>-->
    <!--        <result property="role" column="user_role"/>-->
    <!--        <result property="address" column="address"/>-->
    <!--        <result property="phoneNum" column="phone_num"/>-->
    <!--    </resultMap>-->


</mapper>